<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554385304914-715dvpgckluq0dpbgpmoan9jpipktvml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554385304914-715dvpgckluq0dpbgpmoan9jpipktvml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554385304914-eplqckdea1km7s9f2srod8s7epcnqvhf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCv70ps145P4B2aWKMK_9UNXARyi8SUMLw</string>
	<key>GCM_SENDER_ID</key>
	<string>554385304914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harmonyhub</string>
	<key>PROJECT_ID</key>
	<string>harmony-hub-6654c</string>
	<key>STORAGE_BUCKET</key>
	<string>harmony-hub-6654c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554385304914:ios:c74232f1f677439f475e8b</string>
</dict>
</plist>